<!--model start-->
<div class="modal fade model-lg" id="{{modalId}}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            <div class="row justify-content-center mt-0 pt-0 pb-4">
                <div class="two alt-two">
                    <h1 class="heading">
                        <span>Image Preview</span>
                    </h1>
                </div>
            </div>
            <div class="card gallarycard">
                <div class="row gallery"  *ngFor="let r of arrOfRows">
                    <div class="col-lg-2 col-md-2 col-xs-6 thumb"  *ngFor="let img of imgFileList | slice:(r*numberOfCols):(r*numberOfCols+numberOfCols)">
                             
                            <figure>
                                 <img class="img-fluid img-thumbnail" *ngIf="img.path!=''" src="{{img.path}}" alt="Random Image">
                            </figure>
                    </div>                      
                </div>           
            </div>    
            <!--<div class="d-flex flex-column">
                <div *ngFor="let r of arrOfRows" class="d-flex justify-content-start">
                    <div *ngFor="let img of imgFileList | slice:(r*numberOfCols):(r*numberOfCols+numberOfCols) " class="d-flex flex-column" >
                        <div class="div-img">
                            <img *ngIf="img.path==''" class="img-fluid m-img-viewer" src="../assets/images/placeholder.jpg" alt="">				
                            <img *ngIf="img.path!=''" class="img-fluid m-img-viewer" src="{{img.path}}" alt="">				
                        </div>
                    </div>
                </div>    
            </div>-->
            </div>
        </div>
    </div>
</div>
<!--model end-->          