.btn-noborder:focus {
    outline: none !important;
}

.collapsed {
    transition: .6s opacity !important;
}

.btn4 {
    padding: 0.2rem 1rem;
    border: 1px solid #253b5291;
    background-color: #253b52;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0px;
    color: #fff;
    width: 80px;
}

.btn4:hover,
.btn4:active {
    background-color: #31c2b3;
    border-left: #253b52 4px solid;
    border-right: #253b52 4px solid;
    color: #fff;
}

// a.nav-link:active {
//     background-color: aquamarine;
// }
.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: white !important;
}

.userpro,
.userpro .img-area,
.social-icons a,
.buttons button {
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.userpro {
    position: relative;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userpro .img-area {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.userpro .name {
    font-size: 18px;
    font-weight: 500;
    color: #31344b;
    margin: 8px 0 5px 0;
}

.userpro .about {
    color: #44476a;
    font-weight: 400;
    font-size: 14px;
}

.userpro .social-icons {
    margin: 15px 0 25px 0;
}

.social-icons a {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}

.social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.social-icons a.fb i {
    color: #4267B2;
}

.social-icons a.twitter i {
    color: #1DA1F2;
}

.social-icons a.insta i {
    color: #E1306C;
}

.social-icons a.yt i {
    color: #ff0000;
}

.userpro .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    color: #222225;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    margin-top: 12px;
}

.dropdown-menu.menudropdown.userd.show {
    border-color: #fff;
}

.buttons button:first-child {
    margin-right: 10px;
}

.buttons button:last-child {
    margin-left: 10px;
}

.userpro .social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}

.social-share .uprow {
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.social-share .uprow::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px;
}

.uprow:first-child::before {
    background: none;
}

.social-share .uprow i.icon-2 {
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.uprow:nth-child(1):hover i.fa-heart,
.uprow:nth-child(2):hover i.fa-comment {
    opacity: 1;
    pointer-events: auto;
}